*{
    padding: 0;
    margin: 0;
}
body {
	font-family: "Poppin", sans-serif;
	/* background-color: #2e3537; */
	background:linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(images/BG.jpg);
	/* background-repeat: no-repeat; */
	
	background-size: 50% 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.book {
	width: 60vh;
	height:  90vh  ;
	position: relative;
	transition-duration: 1s;
	perspective: 1500;
}
input {
	display: none;
}
.cover, .back-cover {
	background-color: #ff5e6c;
	width: 100%;
	height: 100%;
	border-radius: 0 15px 15px 0;
	box-shadow: 0 0 7px rgb(41, 41, 41);
	display: flex;
	align-items: center;
	justify-content: center;
	transform-origin: center left;
}
.cover {
	position: absolute;
	background-image: url(images/book_cover.jpg);
	background-repeat: no-repeat; 
	background-size: 100% 100%;
	z-index: 4;
	transition: transform 1s;
}
.cover label {
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.back-cover {
	position: relative;
	z-index: -1;
}
.page {
	position: absolute;
	background-color: white;
	height: calc(100% - 20px);
	width: calc(100% - 10px);
    margin:10px 10px 10px 0px ;
	border-radius: 0 15px 15px 0;
	transform-origin: left;
	transform-style: preserve-3d;
	transform: rotateY(0deg);
	transition-duration: 1.5s;
}
.back-page img {
	width: 100%;
	height: 100%;
	border-radius: 15px 0 0 15px;
}
.front-page img {
	width: 100%;
}
.front-page {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	box-sizing: border-box;
	padding: 1rem;
}
.back-page {
	transform: rotateY(180deg);
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	z-index: 99;
}
.next, .prev, .download {
	position: absolute;
	bottom: 1em;
	cursor: pointer;
}

.instrement{
	margin:10px 0 ;
	display :flex;
	gap: 5px;
}

.instrement content{
	width: 60%;
}

.instrement audio{
	width: 210px;
}

.instrement img{
	width: 30%;
}

.download {
	left: 1em;
}

.next {
	right: 1em;
	font-weight: bold;
}
.prev {
	left: 1em;
	color: white;
	font-weight: bold;
}
#page1 {
	z-index: 3;
}
#page2 {
	z-index: 2;
}
#page3 {
	z-index: 1;
}
#checkbox-cover:checked ~ .book {
	transform: translateX(200px);
}
#checkbox-cover:checked ~ .book .cover {
	transition: transform 1.5s, z-index 0.5s 0.5s;
	transform: rotateY(-180deg);
	z-index: 1;
}
#checkbox-cover:checked ~ .book .page {
	box-shadow: 0 0 3px rgb(99, 98, 98);
}
#checkbox-page1:checked ~ .book #page1 {
	transform: rotateY(-180deg);
	z-index: 2;
}
#checkbox-page2:checked ~ .book #page2 {
	transform: rotateY(-180deg);
	z-index: 3;
}

